.floating {
  animation: floatAnimation 3s ease infinite; /* Adjust the duration and easing as needed */
}

@keyframes floatAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Adjust the floating height */
  }
}
